<html>
 <head>

 </head>

 <body>
    <h2>Set password</h2>
    <form action="{% url 'rest:user-set-password' request.user.pk %}"  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        username : <input type="text" name="username"> <br>
        password : <input type="text" name="password"> <br>
        email : <input type="text" name="email"> <br>
        year : <input type="text" name="year"> <br>
        sex : <input type="text" name="sex"> <br>
        place : <input type="text" name="place"> <br>
        <input type="submit" value="submit">
    </form>

 </body>
</html>